.env
/fifa
/.venv
/env
__pycache__/
*.py[cod]
.Python
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
coverage.xml
.ipynb_checkpoints/
.streamlit/
.vscode/
.idea/
*.log
dist/
build/
data/processed/
models/
